<!DOCTYPE html>
<html>
  <head>
    <title>Heart Disease Prediction</title>
  </head>
  <body>
    <h1>Heart Disease Prediction</h1>
    <form action="/predict" method="post">
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required /><br />

      <label for="sex">Sex:</label>
      <select id="sex" name="sex" required>
        <option value="0">Female</option>
        <option value="1">Male</option></select
      ><br />

      <label for="cp">Chest Pain Type:</label>
      <select id="cp" name="cp" required>
        <option value="0">Typical Angina</option>
        <option value="1">Atypical Angina</option>
        <option value="2">Non-Anginal Pain</option>
        <option value="3">Asymptomatic</option></select
      ><br />

      <label for="trestbps">Resting Blood Pressure:</label>
      <input type="number" id="trestbps" name="trestbps" required /><br />

      <label for="chol">Cholesterol (mg/dl):</label>
      <input type="number" id="chol" name="chol" required /><br />

      <label for="fbs">Fasting Blood Sugar:</label>
      <select id="fbs" name="fbs" required>
        <option value="0">Lower than 120 mg/dl</option>
        <option value="1">Greater than 120 mg/dl</option></select
      ><br />

      <label for="restecg">Resting ECG Results:</label>
      <select id="restecg" name="restecg" required>
        <option value="0">Normal</option>
        <option value="1">ST-T Wave Abnormality</option>
        <option value="2">
          Probable or Definite Left Ventricular Hypertrophy
        </option></select
      ><br />

      <label for="thalach">Maximum Heart Rate Achieved:</label>
      <input type="number" id="thalach" name="thalach" required /><br />

      <label for="exang">Exercise Induced Angina:</label>
      <select id="exang" name="exang" required>
        <option value="0">No</option>
        <option value="1">Yes</option></select
      ><br />

      <label for="oldpeak"
        >ST Depression Induced by Exercise Relative to Rest:</label
      >
      <input
        type="number"
        id="oldpeak"
        name="oldpeak"
        step="0.1"
        required
      /><br />

      <label for="slope">Slope of the Peak Exercise ST Segment:</label>
      <select id="slope" name="slope" required>
        <option value="0">Upsloping</option>
        <option value="1">Flat</option>
        <option value="2">Downsloping</option></select
      ><br />

      <label for="ca">Number of Major Vessels Colored by Fluoroscopy:</label>
      <select id="ca" name="ca" required>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option></select
      ><br />

      <label for="thal">Thalassemia:</label>
      <select id="thal" name="thal" required>
        <option value="1">Normal</option>
        <option value="2">Fixed Defect</option>
        <option value="3">Reversible Defect</option></select
      ><br />

      <button type="submit">Predict</button>
    </form>

    {% if prediction_result %}
    <h2>Prediction Result: {{ prediction_result }}</h2>
    {% endif %}
  </body>
</html>
